<launch>
  <arg name="master_name" default="haptic_device"/>
  <arg name="slave_name" default="grips"/>
  
  <!-- Haptic device interface -->
  <node name="haptic_device_interface" pkg="rate_position_controller" type="haptic_device_interface.py" output="screen"> 
    <param name="device_name" type="string" value="$(arg master_name)"/>
    <param name="write_ip" type="string" value="192.168.0.5"/>
    <param name="read_port" type="int" value="5053"/>
    <param name="write_port" type="int" value="5054"/>
    <rosparam command="load" file="$(find rate_position_controller)/config/haptic_device.yaml" />
  </node>
  
  <!-- Rate position controller -->
  <node name="rate_position_controller" pkg="rate_position_controller" type="rate_position_controller.py" output="screen">
    <param name="master_name" type="string" value="$(arg master_name)"/>
    <param name="slave_name" type="string" value="$(arg slave_name)"/>
    <rosparam command="load" file="$(find rate_position_controller)/config/haptic_device.yaml" />
  </node>
</launch>
